.App{
  margin-top: 20px;
}

.btn-regular,
.btn-regular {
  background-color: #deebf7;
  border: 1px solid #2f5597;
  color: #616265;
  padding: 10px 32px;
  text-decoration: none;
  margin: 4px 4px;
  cursor: pointer;
  border-radius: 8px;
}

.no-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-link {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  margin: 30px;
  color: #000;
}
