.player-container {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  border: 1px solid black;
  margin: 10px;
}

.player-header {
  font-size: 20px;
  font-weight: 700;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
}

.player-call-id {
  color: #b7b8b5;
}

.player-details {
  display: flex;
  flex-direction: row;
}

.player-details div {
  margin-right: 20px;
}

.player-duration {
  color: #4dbf6a;
}

.fa-smile {
  color: #4dbf6a;
}
.fa-star {
  color: #4dbf6a;
}

.player-transcript {
  display: flex;
  flex-direction: row;
}

.transcript-label {
  font-size: 28px;
  color: #777875;
}

.transcript-buttons {
  position: absolute;
  right: 10px;
}

.btn-keyword,
.btn-entity,
.btn-phrase,
.btn-incident,
.btn-review {
  border-radius: 5px;
  border: transparent;
  margin: 5px;
  background-color: #fff;
}

.btn-keyword {
  background-color: #f1e8fe;
}

.btn-entity {
  background-color: #e3f5e5;
}

.btn-phrase {
  background-color: #e0f6fd;
}

.btn-incident {
  background-color: #f5cdca;
}

.btn-review-container {
  position: absolute;
  right: 10px;
}
.btn-review,
.btn-review:hover {
  background-color: #000;
  color: #fff;
}

.player-label-content {
  display: flex;
  flex-direction: row;
  height: auto;
  margin: 30px 0;
}

.player-label {
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.player-duration {
  color: #2c2c28;
}

.player-info-details {
  position: absolute;
  left: 200px;
  font-size: 18px;
  color: #2c2c28;
}
